# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be 
done through code only and there should not be any manual step.

In [3]:
import selenium
from selenium import webdriver 
driver=webdriver.Chrome("chromedriver1.exe")
url="https://www.myntra.com/shoes"
driver.get(url)

In [15]:
Price_Filter=driver.find_element_by_xpath("//ul[@class='price-list']//li[2]")
Price_Filter.click()

In [17]:
Colour_Filter=driver.find_element_by_xpath("//li[@class='colour-listItem']")
Colour_Filter.click()

In [42]:
Brand_name1=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
Brand_name1
Brand_name2=[]

for i in Brand_name1:
    Brand_name2.append(i.text)
Brand_name2

Product_des1=driver.find_elements_by_xpath("//h4[@class='product-product']")
Product_des1
Product_des2=[]

for i in Product_des1:
    Product_des2.append(i.text)
Product_des2

Price1=driver.find_elements_by_xpath("//div[@class='product-price'][1]")
Price1
Price2=[]

for i in Price1:
    Price2.append(i.text)
Price2

['Rs. 6999',
 'Rs. 6999',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 8599',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7195',
 'Rs. 7599',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 6999',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7999',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 12999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 8999',
 'Rs. 8490',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 9999']

In [43]:
next_page=driver.find_element_by_xpath('//li[@class="pagination-next"]')
next_page.click()

In [44]:
Brand_name3=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
Brand_name4=[]

for i in Brand_name3:
    Brand_name4.append(i.text)


Product_des3=driver.find_elements_by_xpath("//h4[@class='product-product']")
Product_des4=[]

for i in Product_des3:
    Product_des4.append(i.text)


Price3=driver.find_elements_by_xpath("//div[@class='product-price'][1]")
Price4=[]

for i in Price3:
    Price4.append(i.text)
Price4

['Rs. 7999',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 10355Rs. 10900(5% OFF)',
 'Rs. 10999',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 6990',
 'Rs. 7600',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7999',
 'Rs. 7006Rs. 7149(2% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7773Rs. 8449(8% OFF)',
 'Rs. 12999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 10295',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 9093Rs. 12990(30% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 8000',
 'Rs. 8500',
 'Rs. 8900',
 'Rs. 10493Rs. 14990(30% OFF)',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 11242Rs. 14990(25% OFF)',
 'Rs. 6990',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 6995']

In [45]:
Brand_name=Brand_name2+Brand_name4
Product_des=Product_des2+Product_des4
Price=Price2+Price4

In [48]:
import pandas as pd
Myntra=pd.DataFrame({})
Myntra["Brand-Name"]=Brand_name
Myntra["Product-Description"]=Product_des
Myntra["Price"]=Price
Myntra

,Brand-Name,Product-Description,Price
0,Puma,Men BlackTraining or Gym Shoes,Rs. 6999
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
3,Puma,Women Deviate Nitro Running,Rs. 10499Rs. 14999(30% OFF)
4,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
...,...,...,...
95,Geox,Men Solid Sneakers,Rs. 10999
96,Cole Haan,Women Open Toe Flats,Rs. 11999
97,Geox,Men Leather Flat Boots,Rs. 11999
98,Geox,Men Leather Driving Shoes,Rs. 9999
99,Florsheim,Men Solid Leather Formal Derbys,Rs. 6995